@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family:"Roboto";
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    place-content: center;
    height: 95vh;
    align-items: center;
}
label{
    font-weight:bold;
    font-size: 12px;
}
input,
select{
    padding: 20px 10px 20px 10px;
    width: 240px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    background-color: #F1F1F1;
    box-shadow: 0px 3px 6px #888888;
}
select{
    width:260px;
}

button{
    border: none;
    background-color: #4c8bf5;
    color: white;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
    width: 165px;
    font-weight: bolder;
    cursor:pointer;
    
}
input:focus,
select:focus {
    outline: none; /* Removes the border when the input is clicked */
    }
#main-container{
    width:900px;
    background-color:white;
    border-radius: 5px;
    position: relative;
    overflow:scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    box-shadow: 0px 3px 6px #888888;
    height:75vh;
}

@media only screen and (max-width:900px){ 
    body{
        margin: 0px;
}   
}

#main-container::-webkit-scrollbar,
#list-menu::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
#header{
    display:flex;
    border-bottom:1px solid #DFDFDF;
    padding:10px;
    position:sticky;
    top:0;
    background-color: white;
    gap:15px;
    margin-bottom:15px;
}
#newlist-img{
    content:url('./newlist.png');
    height:25px;
    width:25px;
}
#lists-img{
    content:url('./lists.png');
    height:25px;
    width:25px;
}
.edittodo-img{
    content:url('./edit.png');
    height:15px;
    width:15px;
    margin-top: -70px;
    margin-right: -20px;
    cursor:pointer;
}
#complete-img{
    content:url('./archive.png');
    height:25px;
    width:25px;
}
#addnew-img{
    content:url('./newtask.png');
    height:20px;
    width:20px;
}
#newlist-button{
    background-color:#4c8bf5;
    color:white;
    box-shadow: 0px 3px 6px #888888;
}
#complete-button{
    margin-right:auto;
}
#add-new{
    background-color: #4c8bf5;
    width:50px;
    height:50px;
    border-radius: 25px;
    position:sticky;
    margin-left:auto;
    bottom:15px;
    right:15px;
    margin-top:30px;
    cursor: pointer;
    user-select: none;
}
#lists-button, #complete-button, #newlist-button{
    cursor:pointer;
}
@media only screen and (max-width:900px){ 
    #add-new{
        position:fixed;
}   
}
#tasks-container{
    min-height:67vh;
    padding: 0px 10px 0px 10px;
    display:flex;
    flex-direction: column;
    gap:10px;
}
@media only screen and (max-width:900px){ 
    #main-container, body{
        width:100vw;
        height: 100vh;
}   
}
#no-tasks{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width:85%;
    padding:15px;
}
#newlist-form{
    flex-direction: row;
    flex-wrap: wrap;
    width: 260px;
    justify-content: center;
}
#dynamic-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form{
    background-color:white;
    padding:35px;
    display:flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    border-radius: 5px;
}
.popup-container{
    width: 100vw;
    height: 105vh;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #000000b0;
}
.button{
    width:65px;
    height:50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.list-button{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
    width: 240px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    background-color: #F1F1F1;
    box-shadow: 0px 3px 6px #888888;
    cursor: pointer;
}
.button-label{
    margin:0px;
    font-size:12px;
    font-weight:bold;
}
.color-input{
    width: 152px;
    height: 65px;
    appearance: none;
    cursor: pointer;
    padding:0px;
    background-color: transparent;
    border:3px solid;
}
.color-input::-webkit-color-swatch{
    border-radius:5px;
    border:none;
}
/* todo css */
.todo{
    background-color: #F2F2F2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
}
.task-info{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap:10px;
    flex:15;
}
.task-text{
    margin:0px;
    font-weight:100;
    font-size:15px;
}
.task-date{
    margin:0px;
    font-weight:100;
    font-size:12px;
}
.task-list{
    display: flex;
    gap:10px;
    font-weight:100;
    font-size:12px;
    align-items: center;
    flex:4;
    text-align: right;
}
.list-color{
    max-width:15px;
    height:15px;
    background-color:#4c8bf5;
    border-radius: 10px;
    flex:55%;
    min-width: 15px;
}
.todo-input{
    padding:0;
    width:13px;
    font-weight: none;
    border-radius: none;
    border: none;
    background-color: #F1F1F1;
    box-shadow: none;
    flex:1;
}
.list-name{
    flex:45%;
}
/* Form css */
.error-message{
    background: #ff3d3d;
    padding: 16px;
    width: 228px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    overflow-wrap: break-word;
    display:none;
}
#list-menu{
    overflow: scroll;
    max-height: 300px;
}